.about
	text-align center
	padding 70px 0
	
	&__title
		margin 0 0 100px 0
	
	&__list
		display flex
		justify-content space-around
		align-items center
		flex-wrap wrap
		
		li
			padding 85px 35px 40px 35px
			box-shadow 0px 5px 9.6px 0.4px rgba(0, 0, 0, 0.15)
			margin 20px 12px
			width 30%
			max-width 365px
			min-width 300px
			position relative
			
			.about__img
				border-radius 50%
				overflow hidden
				height 125px
				width 125px
				background-position center
				background-size cover
				position absolute
				top -60px
				left 50%
				margin-left -62px
			
			h3
				color blueC
				font-size rem(18)
				margin 0 0 15px 0
			
			span
				display inline-block
				color grayC
				margin 0 0 15px 0