.action
	padding 230px 0 150px 65%
	background-image url(../img/action.jpg)
	background-size cover
	background-position center
	
	&__title
		text-transform uppercase
		font-size 30px
		font-weight 600
		margin 0 0 50px 0
		
		span
			color blueC