.header
	box-shadow 0 0 10px #848484
	height 80px
	display flex
	align-items center
	position absolute
	left 0
	top 0
	width 100%
	background-color whiteC
	
	*
		color blueC
	
	img
		max-width 100%
	
	&__social
		display flex
		width 100%
		justify-content space-between
	
	.location
		text-align center
		
		span
			margin 0 0 0 5px