.prof
	background-color mainBGC
	padding 90px 0
	
	&__title
		text-align center
		font-size rem(30)
		margin 0 0 70px 0
		
	&__list
		display flex
		flex-wrap wrap
		justify-content space-around
		
		li
			display flex
			margin 15px
			width 315px
	
	&__img
		margin 0 20px 0 0
		
	&__subtitle
		color blueC
		font-weight 600
		font-size rem(18)
		margin 0 0 10px 0
	
	&__descr
		color blackC
	