extends ../layout/main

block variables
	- var title = 'SORTD'

block content
	include ../blocks/main
	include ../blocks/howworks
	include ../blocks/goaction
	include ../blocks/with
	include ../blocks/prof
	include ../blocks/pricing
	include ../blocks/aboutus
	include ../blocks/about
	include ../blocks/banner