.btn
	color whiteC
	font-size rem(18)
	font-weight 600
	padding 18px 55px
	display inline-block
	border-radius 100px
	box-shadow 0.314px 5.992px 8.82px 0.18px rgba(0, 0, 0, 0.19)
	background-color blueC