// ЦВЕТА
blueC 		= #0099DD
blueBGC 	= #00A4E3
greenC 		= #5EA55E
grayC 		= #777777
whiteC 		= #FFF
blackC 		= #191919
yelloC 		= #FFCD00
mainBGC 	= #EEF2F5

// РАЗМЕРЫ


// ШРИФТЫ

mainFont = 'SF UI Display', sans-serif