section.about
	.container
		h1.about__title What people say about us
		ul.about__list
			li
				.about__img(style="background-image: url(static/img/about/1.jpg);")
				h3  Damien Bolger
				span RTE
				p The generosity of Ecovalet enabled us to raise 2,000 euro for the Telethon, and put a smile on quite a few faces! We will definitely be seeing more of these guys around RTE.
			li
				.about__img(style="background-image: url(static/img/about/2.jpg);")
				h3 Dave Browne
				span Motorbiker
				p Fantastic service and very professional.  They are punctual, competent and always do a  fantastic job. I would highly recommend Ecovalet.
			li
				.about__img(style="background-image: url(static/img/about/3.jpeg);")
				h3 Richard McDonald
				span PPT
				p Brilliant service. They came to my place of work and were finished within an hour. Excellent service, highly recommended!