section.aboutus
	.container
		.row
			.col-12.col-md-2
				img(src="static/img/logo.svg", alt="SORTD Logo")
			.col-12.col-md-10
				h1 About
				h2 Sortd Ecovalet On Demand provides mobile and ecologically <br> friendly car clening in South and North Dublin.
				p Our teav has 10 years of experience in providing safe and ecologically friendly car valeting without using water. Since day one, more than 10,000 customers have been satisfied with our service. Sortd Ecovalet on Demand aperate to the highest of standards to both private and commercial customers. We use special waterless products and carry our own pawer supply so we can valet your vehicale absolutely with zero distubance to you.
				p Among our clients American embassy, RTE, Dublin motor traders. For car valeiting we use wter-free products and technologes that provides safe rmoval of dirt. We guarantee that our dry cleaning products and components will not harm your car and environment.
				p Our work principles based on high standards of service for private and business clients around Dublin and country Dublin. 
					strong So download our app and book today, for a greener, cleaner car!