.banner#banner
	a.close
		img(src="static/img/close-popup.png")
	.banner__left 
		p Download the <br> App and get <br>
			span €10 discount 
	.banner__right
		a(href="#")
			img(src="static/img/app-img/google-play.png", alt="GET ON Google Play")
		a(href="#")
			img(src="static/img/app-img/apple-store.png", alt="Download on the App Store")