footer.footer
	.container
		.footer__wrap
			nav
				ul
					li
						a(href="#") Home
					li
						a(href="#") About
					li
						a(href="#") Price
					li
						a(href="#") Gifts
					li
						a(href="#") Blog
					li
						a(href="#") News
			nav
				ul
					li
						a(href="#") Gallery
					li
						a(href="#") Franchise
					li
						a(href="#") Terms adn conditions
					li
						a(href="#") Privacy policy
					li
						a(href="#") Contact us
			.footer__love
				div.heart
					img(src="static/img/heart.png", alt="Made with love in Dublin")
				p Made with love <br> in Dublin
				p.small 00 685 9015 <br> office@sortd.ie <br> PO BOX Dublin 17, Ireland
				ul.footer__social
					li
						a(href="#")
							i.fa.fa-instagram
					li
						a(href="#")
							i.fa.fa-twitter
					li
						a(href="#")
							i.fa.fa-facebook
					li
						a(href="#")
							i.fa.fa-youtube-play
		.footer__cop &copy; Sortd 2018 | Sortd Ecovalet On Demand