header.header
	.container
		.row.align-items-center
			.col-4.col-md-3.col-lg-2
				img(src="static/img/logo.png", alt="SORTD")
			.col-md-4.col-lg-5.hide-sm
			.col-4.col-md-3.location
				i.fa.fa-map-marker
				span Dublin
			.col-4.col-md-2
				ul.header__social
					li
						a(href="#")
							i.fa.fa-instagram
					li
						a(href="#")
							i.fa.fa-twitter
					li
						a(href="#")
							i.fa.fa-facebook
					li
						a(href="#")
							i.fa.fa-youtube-play