section.how
	.container
		h1.how__title how it works
		ul.how__steps
			li
				.how__text
					span 1
					p Select Your Service
				img(src="static/img/mobile/ph1.png")
			li
				.how__text
					span 2
					p Get Availability or Pre-book in Advance
				img(src="static/img/mobile/ph2.png")
			li
				.how__text
					span 3
					p Pay Securely through Stripe
				img(src="static/img/mobile/ph3.png")
			li
				.how__text
					span 4
					p Get it Done Instantly and leave a feedback
				img(src="static/img/mobile/ph4.png")
		img.how__img(src="static/img/steps.png", alt="How works our MOBILE APP")