main.main
	include ./header
	div.main-btn
		img(src="static/img/mini-btn.png")
		a(href="") Book now 
	.container
		.main__wrap
			.main__left
				h1.main__title The 
					span Greener
					| Way to a cleaner car
				p.main__descr Order a car wash with convenient parameters for you, and we will execute the order as quickly as possible wherever you are!
				p.main__subtitle One click and it's sorted!
				a(href="#").main__btn.btn Book now
			.main__right
				p.main__usp Download the App <br> and get <br> 
					span €10 discount
				p.main__app
					a(href="#")
						img(src="static/img/app-img/google-play.png", alt="GET ON Google Play")
					a(href="#")
						img(src="static/img/app-img/apple-store.png", alt="Download on the App Store")