section.pricing
	.container
		h1.pricing__title Pricing
		ul.pricing__list
			li
				img(src="static/img/pricing/1.png", alt="Pre-set Fair Price")
				h3 Pre-set Fair Price
				p Our platform has a pre-setfair price in order to ensure your convenience of using our App.
			li
				img(src="static/img/pricing/2.png", alt="Quick & Easy Payments")
				h3 Quick & Easy Payments
				p Our application is easy to use, thats why we made our payments system easy and quick.
			li
				img(src="static/img/pricing/3.png", alt="Secure Transaction")
				h3 Secure Transaction
				p Our application is safe for any transactions.
			li
				img(src="static/img/pricing/4.png", alt="Powered by Stripe")
				h3 Powered by Stripe
				p We are using the most powerful and flexible tools for internet commerce - Stripe. (logo visa & master card)