section.prof
	.container
		h1.prof__title Why are our professionals great?
		ul.prof__list
			li
				.prof__img
					img(src="static/img/prof/1.png", alt="")
				div
					h3.prof__subtitle Trusted & Approved <br> Local Business
					p.prof__descr Our company has 10 years of experience in providing a unique service - mobile and environmentally friendly car washing without using water.
			li
				.prof__img
					img(src="static/img/prof/2.png", alt="")
				div
					h3.prof__subtitle Only Top Rated <br> Professionals
					p.prof__descr We work hard to ensure that every SORT professional provides you with the highest possible standard of service. We check and verify all professional ratings so you don't have to
			li
				.prof__img
					img(src="static/img/prof/3.png", alt="")
				div
					h3.prof__subtitle Fully Qualified <br> & Insured
					p.prof__descr We carry our background and reference checks on all SORTD partners and ensure appropriate insurance cover is in place so you can have a piece of mind