section.with
	.container
		h1.with__title We work with
		ul.with__list
			li
				img(src="static/img/with/1.png", alt="PRL")
			li
				img(src="static/img/with/2.png", alt="RTE")
			li
				img(src="static/img/with/3.png", alt="MerrioN")
			li
				img(src="static/img/with/4.png", alt="MOTORBROCER.")